{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <a href="{$base_url}/admin/courses">Corsi</a> <span class="divider">&raquo;</span>
      <strong>{$course.name}</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Elimina corso
          <small>{$course.name}</small>
        </h1>
      </div>
      <div class="sheet-body">
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <legend>
              Sei sicuro di voler procedere con l'eliminazione del corso?
            </legend>
            <div class="form-group">
              <label class="control-label col-md-3" for="name">Nome</label>
              <div class="controls col-md-9">
                <p class="help-block">
                  {$course.name}
                </p>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3" for="slug">SLUG</label>
              <div class="controls col-md-9">
                <p class="help-block">
                  {$course.slug}
                </p>
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-danger">Elimina il corso</button>
            <a href="{$base_url}/admin/courses" class="btn btn-default">Annulla</a>
          </div>
        </form>
      </div>
    </div>
    {/block}
  </body>
</html>
