{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <strong>Utenti back-end</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Utenti back-end
          <small>Gestione degli utenti di back-end</small>
        </h1>
      </div>
      <div class="sheet-body">
        {if _get('add')}
        <div class="alert alert-success">
          <strong>L'utente è stato aggiunto con successo.</strong>
        </div>
        {elseif $delete}
        <div class="alert alert-success">
          <strong>L'utente è stato eliminato con successo.</strong>
        </div>
        {/if}
        <form method="get" action="{$base_url}/admin/users-be" class="form-search well">
          <input type="text" name="q" class="form-control searchquery" value="{_get('q')}" data-behaviour="autofocus" autocomplete="off">
          <button type="submit" class="btn btn-default">Cerca</button>
          <a href="{$base_url}/admin/users-be/add" class="btn btn-primary pull-right">
            <i class="glyphicon glyphicon-plus"></i> Aggiungi utente&hellip;
          </a>
        </form>
        <div class="table-responsive">
          <table class="table table-striped table-hover table-bordered">
            <thead>
              <tr>
                <th>ID</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Azienda</th>
                <th>Email</th>
                <th>Ruolo</th>
                <th>Stato</th>
                <th>Azioni</th>
              </tr>
            </thead>
            <tbody>
              {foreach $users as $user}
              <tr>
                <td><a href="{$base_url}/admin/users-be/{$user.id}">#{$user.id}</a></td>
                <td><a href="{$base_url}/admin/users-be/{$user.id}">{$user.lastname}</a></td>
                <td><a href="{$base_url}/admin/users-be/{$user.id}">{$user.firstname}</a></td>
                <td><a href="{$base_url}/admin/users-be/{$user.id}">{$user.company}</a></td>
                <td><a href="{$base_url}/admin/users-be/{$user.id}">{$user.email}</a></td>
                <td>{_v($user.role, $ROLES)}</td>
                <td>
                  {if $user.password}
                    <span class="label label-success">attivo</span>
                  {else}
                    <span class="label label-default">non attivo</span>
                  {/if}
                </td>
                <td>
                  <a href="{$base_url}/admin/users-be/{$user.id}" class="btn btn-default btn-xs">Modifica</a>
                  <a href="{$base_url}/admin/users-be?q={_get('q')}&delete={$user.id}" class="btn btn-danger btn-xs" data-behaviour="link_confirm">Elimina</a>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {/block}
  </body>
</html>
