{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <a href="{$base_url}/admin/users-be">Utenti back-end</a> <span class="divider">&raquo;</span>
      <strong>Aggiungi utente</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Aggiungi un nuovo utente
        </h1>
      </div>
      <div class="sheet-body">
        {if $status}
        <div class="alert alert-success">
          <strong>Le modifiche sono state salvate correttamente.</strong>
        </div>
        {/if}
        <form class="form-horizontal" method="post" action="">
          <fieldset>
            <legend>1. Dati utente</legend>
            <div class="form-group">
              <label class="control-label col-md-2" for="lastname">Cognome</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="lastname" name="lastname" value="{_f('lastname', $user)}" autofocus>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="firstname">Nome</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="firstname" name="firstname" value="{_f('firstname', $user)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="company">Azienda</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="company" name="company" value="{_f('company', $user)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="email">Email</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="email" name="email" value="{_f('email', $user)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="password">Password</label>
              <div class="controls col-md-10">
                <input type="password" class="form-control" id="password" name="password" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="role">Ruolo</label>
              <div class="controls col-md-10">
                <select id="role" name="role" class="form-control">
                  {html_options options=$ROLES selected=_f('role', $user)}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="courses">Corsi</label>
              <div class="controls col-md-10">
                {foreach $courses as $k => $v}
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="courses[]" value="{$k}"{if in_array($k, _f('courses', $user, []))} checked="checked"{/if}> {$v}
                  </label>
                </div>
                {/foreach}
                {if isset($errors.courses)}<p class="help-block error">Campo obbligatorio!</p>{/if}
              </div>
            </div>
          </fieldset>
          <div class="form-group mt30"><div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary">Aggiungi l'utente</button>
            <a href="{$base_url}/admin/users-be" class="btn btn-default">Annulla</a>
          </div></div>
        </form>
      </div>
    </div>
    {/block}
  </body>
</html>
