{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <a href="{$base_url}/admin/redirects">Redirects</a> <span class="divider">&raquo;</span>
      <strong>{$redirect.request_uri}</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Elimina redirect
          <small>{$redirect.request_uri}</small>
        </h1>
      </div>
      <div class="sheet-body">
        {if $error}
        <div class="alert alert-danger">
          <strong>Campi obbligatori non compilati, impossibile proseguire!</strong>
        </div>
        {/if}
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <label class="control-label col-md-2" for="request_uri">Richiesta</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="request_uri" name="request_uri" value="{_f('request_uri', $redirect)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="redirect_uri">Destinazione</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="redirect_uri" name="redirect_uri" value="{_f('redirect_uri', $redirect)}">
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salva le modifiche</button>
            <a href="{$base_url}/admin/redirects" class="btn btn-default">Annulla</a>
          </div>
        </form>
      </div>
    </div>
    {/block}
  </body>
</html>
