{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <a href="{$base_url}/admin/banners">Lanci</a> <span class="divider">&raquo;</span>
      <strong>Aggiungi lancio</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Aggiungi lancio
        </h1>
      </div>
      <div class="sheet-body">
        {if $error}
        <div class="alert alert-danger">
          <strong>Campi obbligatori non compilati, impossibile proseguire!</strong>
        </div>
        {/if}
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
          <fieldset>
            <div class="form-group">
              <label class="control-label col-md-2" for="title">Titolo</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="title" name="title" value="{_f('title', $banner)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="image">Immagine</label>
              <div class="controls col-md-10">
                <input type="file" class="form-control" id="image" name="image" value="">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="cta">CTA</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="cta" name="cta" value="{_f('cta', $banner)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="link">Link destinazione</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="link" name="link" value="{_f('link', $banner)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="category">Categoria</label>
              <div class="controls col-md-10">
                <select name="category" id="category" class="form-control">
                  <option value=""></option>
                  {html_options options=$BANNER_CATEGORIES selected=_f('category', $banner)}
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="slug">SLUG</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="slug" name="slug" value="{_f('slug', $banner)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="sorting">Ordinamento</label>
              <div class="controls col-md-10">
                <input type="text" class="form-control" id="sorting" name="sorting" value="{_f('sorting', $banner)}">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="published">Pubblicato</label>
              <div class="controls col-md-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="published" value="1"{if _f('published', $banner)} checked="checked"{/if}>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="date_begin">Data inizio</label>
              <div class="controls col-md-10">
                {_date_combos("date_begin", _d('date_begin', $banner), -1, 1)}
                {if isset($errors.date_begin)}<p class="help-block error">Campo obbligatorio!</p>{/if}
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-2" for="date_end">Data fine</label>
              <div class="controls col-md-10">
                {_date_combos("date_end", _d('date_end', $banner), -1, 1)}
                {if isset($errors.date_end)}<p class="help-block error">Campo obbligatorio!</p>{/if}
              </div>
            </div>
          </fieldset>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Salva le modifiche</button>
            <a href="{$base_url}/admin/banners" class="btn btn-default">Annulla</a>
          </div>
        </form>
      </div>
    </div>
    {/block}
  </body>
</html>
