{extends file='layout-admin.tmpl'}
<html>
  <body>
    {block name="breadcrumbs"}
    <div class="breadcrumbs">
      <strong>Lanci</strong>
    </div>
    {/block}
    {block name="content"}
    <div class="sheet">
      <div class="sheet-header">
        <h1>
          Lanci
          <small>Gestione dei lanci del sito</small>
        </h1>
      </div>
      <div class="sheet-body">
        <form method="get" action="" class="form-search well">
          <div class="row">
            <div class="col-sm-9">
              <input type="text" name="q" class="form-control searchquery" value="{_fr('q')}" data-behaviour="autofocus" autocomplete="off">
            </div>
            <div class="col-sm-3">
              <select name="category" class="form-control">
                <option value="">Tutti</option>
                {html_options options=$BANNER_CATEGORIES selected=_get('category')}
              </select>
            </div>
          </div>
          <button type="submit" class="btn btn-default">Cerca</button>
          <a href="{$base_url}/admin/banners/add" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-plus"></i> Nuovo elemento</a>
        </form>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>Categoria</th>
                <th>SLUG</th>
                <th>Ordinamento</th>
                <th>Titolo</th>
                <th style="width: 180px;">Azioni</th>
              </tr>
            </thead>
            <tbody>
              {foreach $banners as $banner}
              <tr>
                <td><a href="{$base_url}/admin/banners/{$banner.id}">{_v($banner.category, $BANNER_CATEGORIES)}</a></td>
                <td><a href="{$base_url}/admin/banners/{$banner.id}">{$banner.slug}</a></td>
                <td><a href="{$base_url}/admin/banners/{$banner.id}">#{$banner.sorting}</a></td>
                <td><a href="{$base_url}/admin/banners/{$banner.id}">{$banner.title}</a></td>
                <td>
                  <a href="{$base_url}/admin/banners/{$banner.id}/edit" class="btn btn-default btn-xs">MODIFICA</a>
                  <a href="{$base_url}/admin/banners/{$banner.id}/delete" class="btn btn-default btn-xs btn-danger">ELIMINA</a>
                </td>
              </tr>
              {/foreach}
            </tbody>
          </table>
        </div>
        {include "admin-pagination.tmpl"}
      </div>
    </div>
    {/block}
  </body>
</html>
