<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <title>Giappichelli</title>
    <link href="css/app.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="57x57" href="{$base_url}/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="{$base_url}/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="{$base_url}/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="{$base_url}/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="{$base_url}/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="{$base_url}/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="{$base_url}/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="{$base_url}/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{$base_url}/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="{$base_url}/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$base_url}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="{$base_url}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$base_url}/favicon-16x16.png">
    <link rel="manifest" href="{$base_url}/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{$base_url}/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body ng-app="app" style="background-color: #f3f3f3">
    <ion-nav-view animation="slide-left-right" id="main"></ion-nav-view>
    <script src="js/app.bundle.js"></script>
    <script type="text/javascript">
      angular.module('app.config', [])
             .constant('DEBUG', 1)
             .constant('API_END_POINT', '{$base_url}/api/1');
      window.onerror = function(message, url, line, col, error){
        var stopPropagation = true;
        var data = {
          type: 'javascript',
          url: window.location.hash,
          localtime: Date.now()
        };
        if (message)       { data.message      = message;      }
        if (url)           { data.fileName     = url;          }
        if (line)          { data.lineNumber   = line;         }
        if (col)           { data.columnNumber = col;          }
        if (error) {
          if (error.name)  { data.name         = error.name;   }
          if (error.stack) { data.stack        = error.stack;  }
        }
        console.log('Exception', JSON.stringify(data));
        return stopPropagation;
      }
    </script>
    <script src="js/app.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBnpQcsgPHUr8N3dpZ-0aJcRoqOVDt8yBM"></script>
  </body>
</html>
