<div class="container content-section mt30 mb60">
  {if $confirm}
  {if $content.title}
    <h1 class="text-center text-primary mb30">{$content.title}</h1>
  {/if}
  {if $content.subtitle}
    <p class="text-center intro-text mb30">{$content.subtitle}</p>
  {/if}
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      {$content.text_1}
    </div>
  </div>
  {else}
  <h2 class="text-center">
    <strong>{$page.title}</strong>
  </h2>
  <div class="row">
    <div class="col-sm-12">
      <form method="post" action="{$base_url}{$request_uri}">
        <div class="row">
          <div class="col-sm-6 mt10{if isset($errors.firstname)} has-error{/if}">
            <label class="form-control-static" for="firstname">{_("Nome")} <strong class="red">*</strong></label>
            <input type="text" name="firstname" class="form-control" value="{_post('firstname')}">
            {if isset($errors.firstname) and $errors.firstname eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
          </div>
          <div class="col-sm-6 mt10{if isset($errors.lastname)} has-error{/if}">
            <label class="form-control-static" for="lastname">{_("Cognome")} <strong class="red">*</strong></label>
            <input type="text" name="lastname" class="form-control" value="{_post('lastname')}">
            {if isset($errors.lastname) and $errors.lastname eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt10{if isset($errors.email)} has-error{/if}">
            <label class="form-control-static" for="email">{_("Email")} <strong class="red">*</strong></label>
            <input type="text" name="email" class="form-control" value="{_post('email')}">
            {if isset($errors.email) and $errors.email eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
            {if isset($errors.email) and $errors.email eq 2}<p class="help-block has-error">{_("Email non valida: si prega di verificare nuovamente il dato inserito!")}</p>{/if}
            {if isset($errors.email) and $errors.email eq 3}<p class="help-block has-error">{_("Questo indirizzo email risulta già registrato a Giappichelli")}</p>{/if}
          </div>
          <div class="col-sm-6 mt10{if isset($errors.city)} has-error{/if}">
            <label class="form-control-static" for="city">{_("Città")} <strong class="red">*</strong></label>
            <input type="text" name="city" id="city" class="form-control" value="{_post('city')}">
            {if isset($errors.city) and $errors.city eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mt10{if isset($errors.phone)} has-error{/if}">
            <label class="form-control-static" for="phone">{_("Numero di telefono")} <strong class="red">*</strong></label>
            <input type="text" name="phone" class="form-control" value="{_post('phone')}">
            {if isset($errors.phone) and $errors.phone eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
          </div>
        </div>
        <label class="form-control-static mt30" for="password">{_("CONDIZIONI GENERALI D'USO ED INFORMATIVA SULLA PRIVACY")} <strong class="red">*</strong></label>
        <div class="checkbox{if isset($errors.privacy)} has-error{/if}">
          <div style="padding-left: 20px;">
            <input type="checkbox" name="privacy" value="1"{if _request('privacy')} checked{/if}>
            {_("Dichiaro di letto e accettato integralmente le")} <a href="{$base_url}/termini" rel="external">{_("Condizioni generali di uso")}</a>
            {_("e l'")}<a href="{$base_url}/privacy" rel="external">{_("informativa sulla privacy")}</a>.
            {if isset($errors.privacy) and $errors.privacy eq 1}<p class="help-block has-error mb10">{_("Campo obbligatorio!")}</p>{/if}
          </div>
        </div>
        <div class="checkbox mt10{if isset($errors.privacy2)} has-error{/if}">
          <label>
            <input type="checkbox" name="privacy2" value="1"{if _request('privacy2')} checked{/if}>
            {_("Acconsento al trattamento dei miei dati per ricevere comunicazioni di offerte promozionali mediante posta, telefono, posta elettronica, sms, mms, effettuare analisi statistiche, studi e ricerche di mercato da parte di Giappichelli.")}
          </label>
        </div>
        <div class="checkbox mt10{if isset($errors.newsletter)} has-error{/if}">
          <label>
            <input type="checkbox" name="newsletter" value="1"{if _request('newsletter')} checked{/if}>
            {_("Voglio ricevere la newsletter di Giappichelli.")}
          </label>
        </div>
        <p class="mt60 text-center">
          <button type="submit" class="btn btn-primary btn-lg">{_("AVANTI")}</button>
        </p>
      </form>
    </div>
    {/if}
  </div>
</div>