{extends file='layout-admin-base.tmpl'}
<html>
  <body{block name="body_attrs"} class="side-navbar preload{if _a($COOKIE, 'navbar') == 'mini'} mini-navbar{/if}"{/block}>
    {block name="body"}
    <nav class="navbar-static-side" role="navigation">
      <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
          <li class="nav-header">
            <div class="dropdown profile-element">
              <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <span class="clear"><span class="block mt5"> <strong class="font-bold">{$principal.firstname} {$principal.lastname}</strong> <b class="caret"></b></span>
                <span class="text-muted text-xs block">{$principal.email}</span>
              </a>
              <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a href="{$base_url}/admin/logout">Esci</a></li>
              </ul>
            </div>
            <div class="logo-element">
              GC
            </div>
          </li>
          <li{if $menu eq 'content'} class="active"{/if}>
            {if in_array($principal.role, [1, 2])}
            <a href="{$base_url}/admin">
              <i class="fa fa-pencil"></i>
              <span class="nav-label">Gestione contenuti</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
              {if in_array($principal.role, [1])}
              <li {if $submenu eq "blog-articles"}class="active"{/if}><a href="{$base_url}/admin/blog-articles">Articoli</a></li>
              <li {if $submenu eq "blog-categories"}class="active"{/if}><a href="{$base_url}/admin/blog-categories">Articoli: categorie</a></li>
              <li {if $submenu eq "blog-comments"}class="active"{/if}><a href="{$base_url}/admin/blog-comments">Articoli: commenti</a></li>
              <li {if $submenu eq "menus"}class="active"{/if}><a href="{$base_url}/admin/menus">Menu</a></li>
              <li {if $submenu eq "banners"}class="active"{/if}><a href="{$base_url}/admin/banners">Lanci</a></li>
              <li {if $submenu eq "pages"}class="active"{/if}><a href="{$base_url}/admin/pages">Pagine</a></li>
              <li {if $submenu eq "teachers"}class="active"{/if}><a href="{$base_url}/admin/teachers">Docenti</a></li>
              {/if}
              <li {if $submenu eq "courses"}class="active"{/if}><a href="{$base_url}/admin/courses">Corsi</a></li>
              <li {if $submenu eq "lessons"}class="active"{/if}><a href="{$base_url}/admin/lessons">Lezioni</a></li>
              {if in_array($principal.role, [1])}
              <li {if $submenu eq "pubblications"}class="active"{/if}><a href="{$base_url}/admin/pubblications">Pubblicazioni</a></li>
              <li {if $submenu eq "redirects"}class="active"{/if}><a href="{$base_url}/admin/redirects">Redirect</a></li>
              <li {if $submenu eq "translations"}class="active"{/if}><a href="{$base_url}/admin/translations">Traduzioni</a></li>
              {/if}
            </ul>
            {/if}
          </li>
          {if in_array($principal.role, [1])}
          <li{if $menu eq 'users'} class="active"{/if}>
            <a href="{$base_url}/admin">
              <i class="fa fa-users"></i>
              <span class="nav-label">Gestione utenti</span>
              <span class="fa arrow"></span>
            </a>
            <ul class="nav nav-second-level collapse">
              <li {if $submenu eq "users-be"}class="active"{/if}><a href="{$base_url}/admin/users-be">Utenti back-end</a></li>
              <li {if $submenu eq "users"}class="active"{/if}><a href="{$base_url}/admin/users">Utenti registrati</a></li>
              <li {if $submenu eq "groups"}class="active"{/if}><a href="{$base_url}/admin/groups">Gruppi</a></li>
            </ul>
          </li>
          {/if}
        </ul>
      </div>
    </nav>
    <div class="container-wrapper">
      <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
          <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          {block name="breadcrumbs"}{/block}
        </div>
        <ul class="nav navbar-top-links navbar-right">
          <li>
            <a href="{$base_url}/admin/logout">
              <i class="fa fa-sign-out"></i> Esci
            </a>
          </li>
        </ul>
      </nav>
      <div class="container-sheets">
        {block name="content"}{/block}
      </div>
    </div>
    {/block}
  </body>
</html>
