{extends "profilo.tmpl"}

{block name=title}{_("Lezione: gestione esercitazioni")} &mdash; Giappichelli{/block}

{block name="head"}
<meta name="description" content="{_("Lezione: gestione esercitazioni")} &mdash; Giappichelli">
<meta name="author" content="">
{/block}

{block name="content-left"}
  <h3 class="text-left text-primary">
    <small class="mb10">{$course.name}</small>
    <strong>Gestione dei esercitazioni: {$homework.name}</strong>
  </h3>
  <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
    <fieldset class="mt30">
      <legend>Dati esercitazione</legend>
      <div class="row">
        <div class="col-sm-12 mt10{if isset($errors.name)} has-error{/if}">
          <label class="form-control-static" for="name">{_("Nome")} <strong class="red">*</strong></label>
          <input type="text" name="name" class="form-control" value="{_f('name', $homework)}">
          {if isset($errors.name) and $errors.name eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
        </div>
      </div>
      {* <div class="row">
        <div class="col-sm-12 mt10{if isset($errors.description)} has-error{/if}">
          <label class="form-control-static" for="description">{_("Descrizione")}</label>
          <textarea name="description" class="form-control" rows="5" style="resize: none;">{_f('description', $homework)}</textarea>
          {if isset($errors.description) and $errors.description eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
        </div>
      </div> *}
      <div class="table-responsive mt30">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Studente</th>
              <th>Data/Ora</th>
              <th style="width: 240px;">Download esercitazione</th>
              <th style="width: 240px;">Upload correzione</th>
            </tr>
          </thead>
          <tbody>
            {foreach $files as $f}
            <tr>
              <td>{$f.firstname} {$f.lastname}<br>{$f.email}</td>
              <td>{_ddt($f.created_at)} &mdash; #{$f.id}</dt>
              <td>
                <a href="{$base_url}/download/{$f.asset}?fn={urlencode($f.name)}" class="btn btn-default" target="_blank">
                  <i class="fa fa-download"></i> Download
                </a>
              </td>
              <td>
                {if $f.reply_asset}
                <div class="mb10">
                  <a href="{$base_url}/download/{$f.reply_asset}?fn={urlencode($f.reply_name)}" class="btn btn-default" target="_blank">
                    <i class="fa fa-download"></i> Download
                  </a>
                </div>
                <div class="checkbox mb10">
                  <label>
                    <input type="checkbox" name="files_{$f.id}_remove" value="1"> Elimina il file caricato
                  </label>
                </div>
                {/if}
                <input type="file" name="files_{$f.id}" class="form-control">
              </td>
            </tr>
            {/foreach}
          </tbody>
        </table>
      </div>
      <div class="text-center">
        <a href="{$base_url}/profilo/corsi/{$course.slug}/compiti/{$homework.id}/download" class="btn btn-default">
          <i class="fa fa-download"></i> Download massivo di tutte le esercitazioni
        </a>
      </div>
    </fieldset>
    <fieldset class="mt60">
      <legend>Impostazioni pubblicazione</legend>
      <div class="row">
        <div class="col-sm-12 mt10{if isset($errors.name)} has-error{/if}">
          <label class="form-control-static" for="name">{_("Data inizio")} <strong class="red">*</strong></label>
          <div>
            {_date_combos("published_datetime", _d('published_datetime', $homework), -1, 1)}
          </div>
          {if isset($errors.name) and $errors.name eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 mt10{if isset($errors.name)} has-error{/if}">
          <label class="form-control-static" for="name">{_("Data fine")} <strong class="red">*</strong></label>
          <div>
            {_date_combos("published_datetime2", _d('published_datetime2', $homework), -1, 1)}
          </div>
          {if isset($errors.name) and $errors.name eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
        </div>
      </div>
    </fieldset>
    <p class="mt60 text-center">
      <button type="submit" class="btn btn-primary">{_("SALVA LE MODIFICHE")}</button> 
      <a href="{$base_url}/profilo/corsi/{$course.slug}/compiti" class="btn btn-default">ANNULLA</a>
    </p>
  </form>
{/block}

{block name="content-bottom"}{/block}
