{extends "profilo.tmpl"}

{block name=title}{_("Lezione: gestione esercitazioni")} &mdash; Giappichelli{/block}

{block name="head"}
<meta name="description" content="{_("Lezione: gestione esercitazioni")} &mdash; Giappichelli">
<meta name="author" content="">
{/block}

{block name="content-left"}
  <h3 class="text-left text-primary">
    <small class="mb10">{$course.name}</small>
    <strong>Gestione esercitazioni: Elimina una cartella</strong>
  </h3>
  <div class="alert alert-warning">
    Sei sicuro di voler procedere con l'eliminazione della cartella?<br>
    Questa operazione non può essere annullata.
  </div>
  <form method="post" action"">
    <div class="row">
      <div class="col-sm-12 mt10{if isset($errors.name)} has-error{/if}">
        <label class="form-control-static" for="name">{_("Nome")} <strong class="red">*</strong></label>
        <input type="text" name="name" class="form-control" value="{_f('name', $homework)}" disabled>
        {if isset($errors.name) and $errors.name eq 1}<p class="help-block has-error">{_("Campo obbligatorio!")}</p>{/if}
      </div>
    </div>
    <p class="mt60 text-center">
      <button type="submit" class="btn btn-danger">{_("ELIMINA")}</button> 
      <a href="{$base_url}/profilo/corsi/{$course.slug}/compiti" class="btn btn-default">ANNULLA</a>
    </p>
  </form>
{/block}

{block name="content-bottom"}{/block}
