.middle-box {
  color: #676a6c;
  height: 40px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  z-index: 100;

  &.loginscreen {
    width: 300px;
    margin-left: -150px;
    margin-top: -330px;
  }

  h1 {
    font-size: 170px;

    &.logo-name {
      color: #e6e6e6;
      font-size: 148px;
      font-weight: 800;
      letter-spacing: -10px;
      margin-bottom: 0px;
    }
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 30px;
  }

  .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  
  .form-control:focus {
    z-index: 2;
  }
  
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
