.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.side-navbar {
  background-color: #fff;
}

.container-wrapper {
  background-color: #fff;
}

.logo-element {
  width: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: white;
  display: none;
  padding: 18px 0;
}

.navbar-static-side, .container-wrapper {
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.navbar-static-top {
  min-height: 56px;

  .navbar-header {
    float: none;
    height: 56px;
  }

  .breadcrumbs {
    float: left;
    margin-left: 10px;
    line-height: 14px;
    padding-top: 22px;

    .divider {
      display: inline-block;
      margin: 0 6px;
    }
  }

  .navbar-top-links {
    position: absolute;
    right: 0; top: 0;
  }
}

.navbar-static-side {
  background-color: $brand-primary;
  min-height: 100%;
  overflow-x: hidden;
  width: 220px;
  position: fixed;
  top: 0; left: 0;
  z-index: 100;
}

.sidebar-collapse .nav {
  background-color: $brand-primary;
  width: 220px;
}

.nav > li > a,
.navbar-top-links li a {
  padding: 14px 20px 14px 25px;
}

.nav-header a {
  color: #e5e5e5;
}
  
.navbar-static-side,
.navbar-static-top {

  .nav > li > a {
    color: #f5f5f5;
    font-weight: 600;
  }
  
  .nav.navbar-right > li > a {
    color: #999c9e;
  }
  
  .nav > li.active > a {
    color: #ffffff;
  }
  
  .nav > li > a:hover, .nav > li > a:focus  {
    background-color: darken($brand-primary, 5%);
  }
  
  .nav.navbar-top-links > li > a:hover,
  .nav.navbar-top-links > li > a:focus  {
    background-color: #ececec;
  }
  
  .nav > li > a i {
    margin-right: 6px;
  }

  .nav.navbar-top-links .dropdown-alerts a {
    font-size: 12px;
  }
  
  .nav-header {
    background: url("../images/patterns/header-profile.png") no-repeat;
    min-height: 156px;
    padding: 33px 25px;

    a {
      text-decoration: none;
    }
  }
  
  .nav > li.active {
    border-left: 4px solid rgba(255,255,255,0.80);
    background: darken($brand-primary, 5%);
    transition: all 0.5s;
  }
  
  .nav.nav-second-level > li.active {
    border: none;
  }
  
  .nav.nav-second-level.collapse[style] {
    height: auto !important;
  }
  
  .nav-header .text-muted {
    color: #e5e5e5;
  }
}

.navbar-top-links li {
  display: inline-block;
}

.navbar-top-links li:last-child {
  margin-right: 15px;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}

.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
  border-radius: 2px;
}

.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}

.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}

.navbar-top-links .dropdown-menu li {
  display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}

.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}

.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}

.dropdown-messages, .dropdown-alerts {
  padding: 10px 10px 10px 10px;
}

.dropdown-messages li a, .dropdown-alerts li a {
  font-size: 12px;
}

.dropdown-messages li em, .dropdown-alerts li em {
  font-size: 10px;
}

.minimalize-styl-2 {
  padding: 4px 12px;
  margin: 14px 5px 5px 20px;
  font-size: 14px;
  float: left;
}

.navbar-form-custom {
  float: left;
  height: 50px;
  padding: 0;
  width: 200px;
}

.nav.navbar-top-links a {
  font-size: 14px;
}

.navbar-form-custom .form-control {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  box-shadow: none;
  font-size: 14px;
  height: 60px;
  margin: 0;
  z-index: 2000;
}

.count-info .label {
  line-height: 12px;
  padding: 2px 5px;
  position: absolute;
  right: 6px;
  top: 12px;
}

.arrow {
  float: right;
}

.fa.arrow:before {
  content: "\f104";
}

.active > a > .fa.arrow:before {
  content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
  border-bottom: none !important;
}

.nav-second-level li a {
  padding: 7px 10px 7px 10px;
  padding-left: 52px;
}

.nav-third-level li a {
  padding-left: 62px;
}

.mini-navbar .nav li:hover > .nav-second-level,
.mini-navbar .nav li:focus > .nav-second-level {
  display: block;
  border-radius: 0 2px 2px 0;
  min-width: 140px;
  height: auto;
}

.mini-navbar .navbar-static-side .nav > li > .nav-second-level li a {
  font-size: 12px;
  border-radius: 3px;
}

.mini-navbar .nav-second-level li a {
  padding: 10px 10px 10px 15px;
}

.mini-navbar .nav-second-level {
  position: absolute;
  left: 70px;
  top: 0px;
  background-color: $brand-primary;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
}

.mini-navbar li.active .nav-second-level {
  left: 65px
}

.mini-navbar .navbar-static-side {
  width: 70px;
  overflow-x: initial;

  .sidebar-collapse .nav {
    width: auto;
  }
}

.mini-navbar .profile-element,
.mini-navbar .nav-label,
.mini-navbar .nav-second-level,
.mini-navbar .navbar-static-side .nav li a span {
  display: none;
}

.mini-navbar .navbar-static-side .nav > li > a {
  font-size: 16px;
}

.mini-navbar .logo-element {
  display: block;
}

.mini-navbar .nav-header {
  background-color: $brand-primary;
  min-height: 0;
  padding: 0;
}

.mini-navbar .container-wrapper {
  margin: 0 0 0 70px;
}

@media (min-width: 768px) {
  .container-wrapper {
    position: inherit;
    margin: 0 0 0 220px;
  }

  .navbar-static-side {
    z-index: 101;
    width: 220px;
  }

  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

@media (max-width: 767px) {

  .content-wrapper {
    position: inherit;
    margin: 0 0 0 0px;
    min-height: 1000px;
  }

  .navbar-static-side {
    width: 0px;

    .sidebar-collapse {
      display: none;
    }
  }

  .mini-navbar .navbar-static-side {
    width: 70px;

    .sidebar-collapse {
      display: block;
    }
  }

  .lock-word {
    display: none;
  }

  .navbar-static-top .navbar-header {
    min-width: 0;
    display: inline;
  }

  .breadcrumbs,
  .navbar-form-custom {
    display: none;
  }

  .profile-element,
  .nav-label,
  .navbar-static-side .nav li a span {
    display: none;
  }
  
  .navbar-static-side .nav > li > a {
    font-size: 16px;
  }
  
  .logo-element {
    display: block;
  }
  
  .nav-header {
    padding: 0;
    background-color: $brand-primary;
  }
}

.navbar-top-links li:last-child { margin-right: 0px; }

@media (min-width: 768px) {
  .navbar-right { margin-right: 0px; }
}
