html { height: 100%; }

body {
  font-weight: 400;
}

.container-sheets {
  .sheet {
    > .sheet-header {
      @include clearfix();

      border-top: 4px solid #eee;
      background-color: #fafafb;
      margin: 0;
      padding: 10px 20px 16px;

      > h1 {
        font-size: 21px;
        font-weight: normal;
        line-height: 32px;
        margin: 0;
        padding: 0;

        small {
          font-size: 15px;
          display: block;
          padding: 4px 0;
        }

        .raquo {
          color: #ccc;
          font-weight: normal;
        }
      }

      .pull-left {
        margin-right: 10px;
      }

      .pull-right {
        margin-top: 5px;
      }
    }

    > .sheet-tabs {
      background-color: #fafafb;

      .nav {
        margin-bottom: 0;
        padding-left: 20px;
      }

      .nav-tabs>li>a {
        padding: 6px 12px;
      }

      .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        background-color: #fff;
        border-bottom: 1px solid #fff;
      }

      .nav-tabs>li>a {
        border-radius: 0;
      }
    }

    > .sheet-body {
      background-color: #fff;
      min-height: 400px;
      padding: 20px;

      &.with-sidebar {
        @include clearfix();
        padding-right: 290px;

        .primary {
          float: left;
          width: 100%;
        }

        .sidebar {
          border-left: 1px solid #eee;
          float: left;
          margin-top: -20px;
          margin-left: 20px;
          margin-right: -290px;
          padding: 20px;
          width: 269px;

          li small {
            color: #999;
            display: inline-block;
            margin-left: 4px;
          }
        }
      }
    }

    > .sheet-flag {
      background-color: #fcf8e3;
      border-bottom: 1px solid #ddd;
      color: #565656;
      font-size: 13px;
      line-height: 17px;
      padding: 10px;

      .label {
        margin-right: 4px;
      }
    }
  }
}

textarea {
  resize: none;
}

input[type="radio"], input[type="checkbox"] {
  margin-top: 2px;
}

label.checkbox {
  font-weight: normal;
}

.dl-horizontal {
  dt { width: 80px; }
  dd { margin-left: 100px; }
}

.searchquery {
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-horizontal .form-group {
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  &.form-actions {
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 4px solid #eee;
    background-color: #fcfcfc;
  }
}

legend {
  border-bottom: 4px solid #e5e5e5;
  margin-left: -15px;
  padding-left: 15px;
  text-transform: uppercase;
  width: auto;
  padding-right: 20px;
  margin-bottom: 25px;
}

.textarea-monospace {
  font-family: $font-family-monospace;
  font-size: 12px;
}

.alert-calendar {
  padding: 5px;
  font-size: 12px;
  line-height: 15px;
}

.btn {
  white-space: inherit !important;
}

@media screen and (min-width: 768px) {
  .form-actions {
    @include box-shadow(0px 0px 12px rgba(0,0,0,0.15));
    position: fixed;
    top: 61px; right: 0;
    background-color: #fff;
    border: 2px solid #e5e5e5;
    padding: 20px;
    min-width: 40%;
    z-index: 10;
    text-align: right;
  }
}
