.news-item {
  color: #999;
  text-decoration: none;

  .news-item-cover {
    width: 100%;
    height: 220px;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px 10px;
    position: relative;

    .news-item-category {
      display: none;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      background-color: #ffffff;
      font-size: 12px;
      padding: 5px 10px 3px;
    }
  }

  .news-item-title {
    color: $brand-primary;
    display: block;
    font-weight: normal;
    margin: 0;
  }

  .news-item-description {
    color: #999;
  }

  &:hover, a:hover {
    text-decoration: none;
  }
}

.news-item-details {
  .news-item-title {
    color: $brand-primary;
  }

  .news-item-cover {
    position: relative;

    img {
      width: 100%;
    }

    .news-item-category {
      display: none;
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      background-color: rgba(0,0,0,0.6);
      font-size: 12px;
      padding: 5px 10px 3px;
      position: absolute;
      top: 10px; left: 10px;
    }
  }

  .news-item-description {
    color: #999;
  }

  .news-item-content img {
    max-width: 100%;
    width: auto !important;
    height: auto !important;
  }
}

.news-item-comments {
  padding: 5px 0;

  .news-item-comment {
    background-color: #fafafa;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 3px;

    .comment-nickname {
      color:  #565656;
      font-size: 14px;
      font-weight: normal;
      text-align: left;
    }

    .comment-datetime {
      color:  #cccccc;
      font-size: 12px;
      text-align: left;
    }

    .comment-body {
      color:  #565656;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
    }

    &.moderator {
      background-color: lighten(#008249, 65%);

      .comment-nickname,
      .comment-datetime {
        color: #008249;
      }
    }
  }

  .form-actions {
    margin: 10px 0px;
    min-height: 30px;
  }
}

.sidebar {
  .h4 {
    color: $brand-primary;
    font-weight: 500;
    margin-bottom: 20px;
  }

  ul {
    margin-bottom: 0;
  }

  .active {
    font-weight: 500;
  }
}
