.carousel-cms {
  height: 550px;

  .carousel-inner {
    height: 100%;
  }

  .item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* position: relative; */
    height: 100%;

    .item-wrapper {
      position: absolute;
      left: 0; top: 0; right: 50%; bottom: 0;
      background-color: rgba(6,61,134,0.40);
      padding: 10%;

      h1 {
        color: #fff;
        font-weight: 400;
        font-size: 42px;
        line-height: 48px;
        margin: 0 0 40px;

        small {
          display: block;
          font-size: 24px;
          font-weight: 400;
          line-height: 36px;
          margin-top: 15px;
          border-top: 1px solid #fff;
          padding-top: 25px;
          color: #fff;
        }
      }

      .btn-default {
        background-color: transparent;
        border-color: #fff;
        color: #fff;
      }

      .btn-default:hover {
        background-color: $brand-primary;
        border-color: $brand-primary;
        color: #fff;
      }
    }
  }
}

.header-cms {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 30px 15px;
  position: relative;

  &:before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(6,61,134,0.40);
  }

  h1 {
    color: #fff;
    font-weight: 400;
    font-size: 42px;
    line-height: 48px;
    position: relative;
    z-index: 1;

    small {
      display: block;
      font-size: 24px;
      font-weight: 400;
      line-height: 36px;
      margin-top: 15px;
      color: #fff;

      &:before {
        content: " ";
        display: block;
        border-top: 1px solid #fff;
        width: 120px;
        margin: 20px auto;
      }
    }
  }
}

.WellImage-mobile {
  display: none;
}

.well.well-gray.Docenti-box {
  min-height: 450px;
  border-bottom: 1px solid rgb(227, 227, 227);
  font-weight: normal;
}


.well.well-news {
    min-height: 285px;
}

@media (max-width: 767px) {
  .carousel-cms .item .item-wrapper {
    right: 0;
  }
  .WellImage-mobile {
    display: block;
  }
  .WellImage-noMobile{
    display: none
  }
  .well.well-news {
    min-height: 600px;
  }

  .well.well-gray.Docenti-box {
    min-height: 600px;
  }

  .well.well-gray.Docenti-box img {
    max-height: 300px;
  }

  .well.well-gray.Docenti-box .text-left {
    text-align: center;
  }


  .navbar-nav .open .dropdown-menu>li>a,
  .navbar-nav .open .dropdown-menu>li>a:link,
  .navbar-nav .open .dropdown-menu>li>a:visited,
  .navbar-nav .open .dropdown-menu>li>a:visited:hover,
  .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-nav .open .dropdown-menu>li>a:active {
    color: white;
  }
}

@media screen and (max-width: 1025px) {
  .noDisplayMobile {
    display: none;
  }
  .WellImage-mobile {
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }
  .well.well-news.with-image {
    padding: 25px;
  }
  .well.well-news {
    min-height: 600px;
  }
}

.container-gray {
  background-color: #F0ECEB;
  color: #000000;
  padding-bottom: 30px;
  padding-top: 30px;

  .table {
    background-color: #fff;

    th {
      color: #999;
      padding-bottom: 30px;
      padding-top: 30px;
      a {
        color: #999;
      }
    }
    th, td {
      border-color: #eee;
    }
  }
}

.h1, .h2, .h3 {
  color: $brand-primary;
  border-bottom: 1px solid $brand-primary;
  text-align: left;

  &:after {
    content: " ";
    display: block;
    border-top: 3px solid $brand-primary;
    width: 280px;
    margin: 10px 0 0;
  }

  small {
    display: block;
  }
  &.no-border {
    border-bottom: none;
    &:after {
      display: none;
    }
  }
}

.h4, .h5, .h6 {
  color: $brand-primary;

  small {
    display: block;
  }
}

.btn-default {
  background-color: transparent;
  color: $brand-primary;
  border-color: $brand-primary;
}

.btn-default:hover {
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: #fff;
}

.text-secondary {
  color: $brand-secondary;
}

.well {
  @include box-shadow(3px 3px 24px rgba(0,0,0,0.25));
  background-color: #fff;
  border-bottom: 4px solid #C6A361;
}

.well.well-blue {
  background-color: $brand-primary;
  color: #fff;
}

.well.well-gray {
  @include box-shadow(none);
  background-color: rgba(240, 236, 235, 0.5);
  border-bottom: none;

  hr {
    border-top: 1px solid #ddd;
  }

  .course-details {
    padding-left: 52px;
    position: relative;

    i {
      color: #C6A361;
      font-size: 20px;
      position: absolute;
      left: 20px; top: -2px;
    }
  }
}

.well.well-course {
  padding: 0;

  .well-gray {
    background-color: rgba(240, 236, 235, 0.5);
    padding: 15px;
  }
  .well-white {
    background-color: #FFFFFF;
    padding: 15px;
  }
}

h3 small {
  display: block;
}

.well.well-news {
  color: #9C9C9C;
  border-bottom: none;
  padding: 60px 30px;

  .h1, .h2, .h3 {
    border-bottom: none;
    &:after {
      display: none;
    }
  }

  &.with-image {
    padding-right: 240px;
    position: relative;

    @media screen and (max-width: 1024px) {
      padding-right: 30px;
    }

    .well-image {
      position: absolute;
      top: 0; right: 0; bottom: 0; width: 210px;
      background-size: cover;
      background-position: center center;

      @media screen and (max-width: 1024px) {
        position: relative;
        height: 240px;
        width: 100%;
        margin-bottom: 40px;
      }
    }
  }
}

.nav-pills>li>a, {
  color: $brand-secondary;
  border-bottom: 3px solid transparent;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover {
  background-color: transparent;
  color: $brand-secondary;
  border-bottom: 3px solid $brand-secondary;
}

.text-light {
  color: black;
}

.iframe-video {
  height: 450px;

  @media screen and (max-width: 767px) {
    height: 360px;
  }

  @media screen and (max-width: 419px) {
    height: 240px;
  }
}
