body {
  font-weight: 400;
}



strong {
  font-weight: 600;
}

.header {
  padding-top: 96px;

  .navbar {
    // @include gradient-vertical($start-color: #1A1E58, $end-color: #063D86, $start-percent: 0%, $end-percent: 100%);
    // border-bottom: 8px solid #C6A361;
    background-color: #26358c;
    margin-bottom: 0;
    border-bottom: 24px solid #f59f40;
    height: 96px;

    a, a:hover, a:focus, a:active {
      background-color: transparent;
      color: #fff;
      font-weight: 400;
    }

    a:hover, .active a {
      border-bottom: 4px solid #fff;
      padding-bottom: 24px;
    }

    a.navbar-brand:hover, {
      border-bottom: none;
    }

    .dropdown-menu {
      a, a:hover, a:focus, a:active {
        border: none;
        color: $text-color;
        display: block;
        padding: 10px 30px;
      }
    }
  }

  .navbar-brand {
    padding: 0;
  }

  .navbar-brand img {
    max-height: 77px;
    vertical-align: middle;
  }

  .navbar-toggle {
    color: #fff;
  }
}

@media (min-width: 768px) {
  .header {
    // padding-top: 84px;
  }
  .navbar-nav>li>a {
    padding-top: 28px;
    padding-bottom: 28px;
  }
  .header .navbar-brand img {
    // max-height: 46px;
    vertical-align: middle;
    width: 210px;
    height: auto;
    max-height: none;
  }

  .header .navbar .active a, .header .navbar a:hover {
    padding-bottom: 19px;
  }

  .collapse.navbar-collapse.navbar-left.navbar-main-collapse {
    margin-left: 5%;
  }
}

.breadcrumbs {
  background-color: #F0ECEB;
  color: $brand-primary;
  font-size: 22px;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 60px;
  text-transform: uppercase;

  small {
    color: #aaa;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    display: block;
  }
}

.footer {
  background-color: #fff;
  border-top: 1px solid #CECCC2;
  color: #CECCC2;
  padding-bottom: 20px;
  padding-top: 40px;

  a {
    color: #000000;
  }

  .footer-menu a {
    display: block;
  }

  .footer-social a {
    color: #4A4A4A;
    font-size: 28px;
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
  }

  .copyright {
    border-top: 1px solid #CECCC2;
    color: #CECCC2;
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 40px;
  }
}

.privacy-cookie {
  background-color: #fafafa;
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  text-align: center;
  text-transform: none;
  margin-top: 28x;

  .btn {
    color: #222;
    display: inline-block;
    font-weight: 500;
    padding: 4px 8px;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
      color: #222;
    }
  }
}

.btn-lg {
  font-size: 14px;
  padding: 10px 50px;
}

.bs-callout {
  padding: 5px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}

.bs-callout + .bs-callout {
  margin-top: -5px;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}

.dot {
  &.dot-danger {
    color: $brand-danger;
  }
  &.dot-warning {
    color: $brand-warning;
  }
  &.dot-success {
    color: $brand-success;
  }
}

.panel-group .panel {
  margin-bottom: 30px;
}

.panel-default .panel-heading {
  background: #fff;
  padding-bottom: 25px;
  padding-top: 25px;

  .panel-title.text-secondary {
    color: $brand-secondary;
  }
}

.panel-default .panel-body {
  background: #f4f4f4;
  border-bottom: 4px solid #C6A361;
  padding: 25px 45px;
}

.list-documents {
  list-style: none;
  padding: 0;

  .list-documents--header {
    margin-bottom: 10px;

    .fa-file-text-o {
      color: #aaa;
      font-size: 32px;
      display: inline-block;
      margin-right: 12px;
      vertical-align: middle;
    }

    .fa-chevron-up, .fa-chevron-down {
      float: right;
      line-height: 32px;
    }

    .block-inline {
      display: inline-block;
      vertical-align: middle;
      width: 80%;
    }
  }

  .list-documents--item {
    background-color: #F0ECEB;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    padding: 20px 18px 20px 60px;

    .fa-chevron-up, .fa-chevron-down {
      float: right;
      line-height: 32px;
    }
  }

  .list-documents--item-file {
    background-color: #F0ECEB;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 10px;
    padding: 20px 18px 20px 80px;
  }
}

.radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-top: 1px;
}

.calendar-item {
  min-height: 120px;
}

.content-gray {
  background-color: #F0ECEB;
  padding: 30px;
}

.content-white {
  background-color: #FFFFFF;
  padding: 30px;
}

.content-blue {
  background-image: linear-gradient(-180deg, #1A1E58 0%, #063D86 100%);
  color: #fff;
  padding: 30px;

  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
    border-color: #fff;
    text-align: center;

    &:after {
      border-color: #fff;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.text-primary {
  color: $brand-primary;
}

.text-secondary {
  color: $brand-secondary;
}

.carousel-control.left,
.carousel-control.right {
  background: transparent;
  background-image: none;
  width: 40px;
}

@media (max-width: 767px) {
  .calendar-item {
    min-height: 60px;
  }

  .header .navbar {
    height: auto;
  }

  a.navbar-brand.page-scroll {
    position: relative;
  }

  a.navbar-brand.page-scroll:after {
    content: " ";
    position: absolute;
    height: 24px;
    bottom: -24px;
    background-color: #f59e40;
    z-index: -1;
    left: 0;
    right: -600px;
  }

  .navbar-collapse.navbar-left.navbar-main-collapse {
    margin-top: 24px;
  }

  .navbar-brand {
    height: 58px;
  }

  .header {
    padding-top: 80px;
  }

  .header .navbar-brand img {
   height: 77px;
  }

}


@media (max-width: 340px) {

  .header .navbar-brand img {
    margin-right: 0;
  }

}